*{
	margin: 0px;
	padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');
body {
	background: #242528 !important;
	color: #fff !important;
	font-family: 'Poppins', sans-serif !important;
}
.sidenav {
	background: #29292B;
	height: 100%;
	position: fixed;
	width: 16%;
}
.sidenav a {
	padding: 10px;
	font-size: 25px;
	color: #CDCFCE;
	display: block;
	text-decoration: none !important;
	user-select: none;
	z-index: 20;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	font-size: 16px;
}
.sidenav a i {
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	border-radius: 3px;
	background: #1e1e21;
}
.sidenav a:hover {
	background: #242427;
	transition: .3s;
	color: #fff !important;
}
.col-md-10.bg {
	background: #2C2F33;
	color: #fff;
}
.dashbord-title {
	margin-top: 50px;
}
.menu-title {
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
	white-space: nowrap;
	text-transform: uppercase;
	color: hsla(0,0%,100%,.7);
}
.midel-wraper {
	background-color: #29292B;
	padding: 10px;
}
.data-remaing-section h3 {
	padding-top: 18px;
	text-transform: capitalize;
	font-size: 18px;
	color: #CBCDCC;
	text-align: center;
}
.box-cricle {
	/* border: 5px solid #17a2b8; */
	text-align: center;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 70px 0px;
}
.box-cricle p {
	padding: 0px;
	margin: 0px;
	font-size: 18px;
	color: #17a2b8;
	/* font-weight: bold; */
}

.data-remaing-section{
	text-align: center;
}
.buy-data {
	/* width: 30%; */
	margin: 0 auto;
}
.data-remaning-message {
	/*! font-weight: bold; */
	font-size: 16px !important;
}
.data-remaing-section {
	background: #29292B;
	padding: 100px 0px;
	/* border-radius: 10px; */
	/* border: 1px solid #7289da; */
	display: grid;
}
.custom-select {
	display: inline-block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem 1.75rem .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	vertical-align: middle;
	background: url("http://cdn.onlinewebfonts.com/svg/img_295694.svg") no-repeat right 0.75rem center/8px 10px !important;
	border: 1px solid #CDCFCE !important;
	border-radius: .25rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #fff !important;
	cursor: pointer;
	padding: 6px 25px !important;
border-radius: 0px !important;
}
select {
	word-wrap: normal;
	background: none;
	color: #fff;
	padding: 8px 25px;
	display: inline-block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem 1.75rem .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	vertical-align: middle;
	
	border: 1px solid #CDCFCE !important;
	border-radius: .25rem;
	
	color: #fff !important;
	cursor: pointer;
	padding: 6px 25px !important;
border-radius: 0px !important;
}
/* .buy-data .custom-select{
	background: #17a2b8 url("http://cdn.onlinewebfonts.com/svg/img_295694.svg") no-repeat right 0.75rem center/8px 10px !important;
border: 1px solid #17a2b8 !important;
} */
.section-button-area {
	display: flex;
	padding: 50px 0px;
}
.btn-info {
	color: #fff;
	background:none !important;
	border-color: #cdcfce !important;
	padding: 6px 25px !important;
	border-radius: 0px !important;
}
.page-link {

	color: #cdcfce !important;
	background-color: #29292b !important;
	border: 1px solid #655e54 !important;
}
.btn-info.focus, .btn-info:focus {
	color: #fff;
	background-color: #138496;
	border-color: #117a8b;
	box-shadow: 0 0 0 .2rem rgb(101, 94, 84) !important;
}
.custom-select:focus {
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 .2rem rgb(101, 94, 84) !important;
}
.page-link:focus {
	z-index: 3;
	outline: 0;
	box-shadow: 0 0 0 .2rem rgb(101, 94, 84) !important;
}
.btn-generate button {
	background: none !important;
	border: 1px solid #CDCFCE;
	padding: 6px 25px;
	border-radius: 0;
}
.btn-quantity {
	/* width: 15%; */
	margin-left: 10px;
}
.btn-generate{
	/* width: 15%; */
	margin-left: 10px;
}

  /* #1E846A */
  .data-show {
	font-weight: bold;
}




/* Table css  */

.custom-table {
	min-width: 900px; }

.custom-table thead tr, .custom-table thead th {
		border-top: none;
		border-bottom: none !important;
		color: #CDCFCE;
}
	.custom-table tbody th, .custom-table tbody td {
	  color: #777;
	  font-weight: 400;
	  padding-bottom: 20px;
	  padding-top: 20px;
	  font-weight: 300; }
	  .custom-table tbody th small, .custom-table tbody td small {
		color: #b3b3b3;
		font-weight: 300; }
		.custom-table tbody tr:not(.spacer) {
			border-radius: 7px;
			overflow: hidden;
			-webkit-transition: .3s all ease;
			-o-transition: .3s all ease;
			transition: .3s all ease;
			border-bottom: 1px solid #5A544C !important;
		}
		thead {
			border-bottom: 1px solid #5A544C;
		}
	  .custom-table tbody tr:not(.spacer):hover {
		-webkit-box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1);
		box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1); }
	.custom-table tbody tr th, .custom-table tbody tr td {
	  /* background: #25252b; */
	  border: none;
	  -webkit-transition: .3s all ease;
	  -o-transition: .3s all ease;
	  transition: .3s all ease; }
	  .custom-table tbody tr th a, .custom-table tbody tr td a {
		color: #b3b3b3;
		text-decoration: none !important;
	}
	  .custom-table tbody tr th:first-child, .custom-table tbody tr td:first-child {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px; }
	  .custom-table tbody tr th:last-child, .custom-table tbody tr td:last-child {
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px; }
	.custom-table tbody tr.spacer td {
	  padding: 0 !important;
	  height: 3px;
	  border-radius: 0 !important;
	  background: transparent !important; }
	  .custom-table tbody tr.active th, .custom-table tbody tr.active td, .custom-table tbody tr:hover th, .custom-table tbody tr:hover td {
		color: #fff;
		background: #242528;
	}
	  .custom-table tbody tr.active th a, .custom-table tbody tr.active td a, .custom-table tbody tr:hover th a, .custom-table tbody tr:hover td a {
		color: #fff; }
  
  /* Custom Checkbox */
  .control {
	display: block;
	position: relative;
	margin-bottom: 25px;
	cursor: pointer;
	font-size: 18px; }
  
  .control input {
	position: absolute;
	z-index: -1;
	opacity: 0; }
  
  .control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	height: 20px;
	width: 20px;
	border-radius: 4px;
	border: 2px solid #3f3f47;
	background: transparent; }
  
  .control--radio .control__indicator {
	border-radius: 50%; }
  
  .control:hover input ~ .control__indicator,
  .control input:focus ~ .control__indicator {
	border: 2px solid #007bff; }
  
  .control input:checked ~ .control__indicator {
	border: 2px solid #007bff;
	background: #007bff; }
  
  .control input:disabled ~ .control__indicator {
	background: #e6e6e6;
	opacity: 0.6;
	pointer-events: none;
	border: 2px solid #ccc; }
  
  .control__indicator:after {
	font-family: 'icomoon';
	content: '\e5ca';
	position: absolute;
	display: none; }
  
  .control input:checked ~ .control__indicator:after {
	display: block;
	color: #fff; }
  
  .control--checkbox .control__indicator:after {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -52%);
	-ms-transform: translate(-50%, -52%);
	transform: translate(-50%, -52%); }
  
  .control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b; }
  
  .control--checkbox input:disabled:checked ~ .control__indicator {
	background-color: #007bff;
	opacity: .2;
	border: 2px solid #007bff; 
}










/* Menu Css ===========================================  */

.fa-2x {
font-size: 2em;
}
.fas {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#212121;
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}




