body {
	background: #2C2F33 !important;
	color: #fff !important;
}
.sidenav {
	background: #2A2A2E;
	height: 100%;
  position: fixed;
  width: 16%;
}
.sidenav a {
	padding: 10px;
	font-size: 25px;
	color: #fff;
	display: block;
	text-decoration: none !important;
	user-select: none;
	z-index: 20;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	font-size: 16px;
}
.sidenav a i {
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	border-radius: 3px;
	background: #1e1e21;
}
.sidenav a:hover {
	background: #242427;
	transition: .3s;
	color: #fff !important;
}
.col-md-10.bg {
	background: #2C2F33;
	color: #fff;
}
.dashbord-title {
	margin-top: 50px;
}
.menu-title {
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
	white-space: nowrap;
	text-transform: uppercase;
	color: hsla(0,0%,100%,.7);
}
.midel-wraper{
    background-color: #7289DA;
    padding: 50px;
    height: 100vh;
}
